h2 {
    color: #757575;
    font: 300 34px/40px Roboto,sans-serif;
    letter-spacing: -.01em;
    margin: 30px 0;
}

table {
    margin-bottom: 10px;
}

tfoot {
    color: #2d489c;
    font-weight: bold;
    background-color: #AEFFAE;
}