/* navy #34495E */
/* django-dark-green #0C4B33 */
/* django-green #44B78B */
/* django-light-green #C9F0DD */
body, h1, h2, h3, h4, h5, h6, p, a {
    color: #0C3C26;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F8F8F8;
}

section {
    padding: 10px 0 20px;
}

section:not(:last-child) {
    border-bottom: 1px solid #CFE3DC;
}

p {
    margin: 1em 0;
}
h2 {
    font-size: 27px;
}
blockquote {
    font-size: 16px;
}
ul {
    padding-left: 2em;
}
.container-fluid {
    max-width: 1400px;
}
.main {
    background-color: #FFF;
    box-shadow: -500px 0 0 #FFF;
}
.navbar {
    margin: 0;
}

.sidebar {
    background-color: #F8F8F8;
}

.main, .sidebar {
    box-sizing: border-box;
    padding: 50px;
}

.sidebar h3 {
    margin-top: 30px;
    padding-bottom: 15px;
}

.sidebar .recent-updates h3, .sidebar .recent-comments h3 {
    border-bottom: 1px solid #CFE3DC;
}

#search {
    margin-top: 50px;
    transition: none;
    -webkit-transition: none;
}

#search:focus {
    border: 1px solid #44B78B;
    outline: none;
    box-shadow: none;
}

a.list-group-item, button.list-group-item {
    color: #0C3C26;
}

a.list-group-item:hover {
    color: #44B78B;
    background-color: white;
}

.list-group-item a > .badge {
    float: right;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #44B78B;
    border-color: #44B78B;
}

.no-post {
    margin-top: 50px;
}

.sidebar .post-count {
    background-color: #C9F0DD;
    color: #0C4B33;
}

.sidebar .recent-updates ul {
    list-style-position: inside;
    padding-left:0;
}

.sidebar .recent-updates li {
    list-style: none;
    padding-left: 0;
    margin: 15px 0;
}

.sidebar .recent-updates a {
    border-bottom: 1px solid #0C3C26;
}

.sidebar .recent-updates a:active,
.sidebar .recent-updates a:focus,
.sidebar .recent-updates a:hover,
.sidebar .recent-comments a:active,
.sidebar .recent-comments a:focus,
.sidebar .recent-comments a:hover {
    color: #1d915c;
    border-color: #1d915c;
}

.pagination {
    margin-top: 50px;
}

.pagination > li > a, .pagination > li > span {
    color: #44B78B;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    color: #fff;
    background-color: #44B78B;
    border-color: #44B78B;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    color: #44B78B;
    background-color: #eee;
    border-color: #ddd;
}

.query-result small {
    color: #44B78B;
}

.post-row {
    padding: 20px 0px;

    box-sizing: border-box;
}

.post-row:not(:last-child) {
    border-bottom: 1px solid #e9edef;
}

.article-thumbnail {
    /*margin-bottom: 20px;*/
}

.article-title {
    padding: 0;
    margin-top: 10px;
}

.article-title a:hover {
    color: #44B78B;
}

.article-tag-block {
    margin-bottom: 10px;
}

.article-tag {
    padding: 5px;
    background-color: #C9F0DD;
    color: #0C4B33;
    display: inline-block;
    border-radius: 2px;
    margin-right: 10px;
}

.article-tag:hover {
    background-color: #44B78B;
    color: #fff;
}

.article-meta {
    margin-bottom: 10px;
    color: #8c8c8c;
}

.img-author {
    width: 24px;
    height: 24px;
}

.read-more {
    display: inline-block;
    border-bottom: 1px dotted #798780;
    margin-top: 10px;
    font-weight: bold;
    color: #6A0E0E;
}

.read-more:focus, .read-more:hover {
    background: #F1FFF7;
    color: #BA2121;
}

hr {
    border-top: 1px solid #CFE3DC;
}

pre {
    border: 1px solid #EAEAEA;
    color: #0C4B33;
    /*padding: 15px 20px;*/
    font-size: 1em;
    margin: 20px 0;
    padding: 15px;
    white-space: pre-wrap;
}
pre code.hljs {
    padding: 0;
}
pre span.go {
    color: #808080;
}
pre span.prompt {
    color: orangered;
    /*font-weight: bold;*/
}
pre span.command {
    color: dodgerblue;
    /*font-weight: bold;*/
}
p code, li code {
    padding: 0;
    font-size: 1em;
    font-family: Menlo, Monaco, "Courier New", Courier, monospace;
    color: #0C4B33;
    background-color: transparent;
    border: none;
    font-weight: 700;
}
.code-box {
    margin: 25px 0;
}

.snippet-filename {
    background: #C9F0DD;
    color: #0C4B33;
    font-family: Menlo, Monaco, "Courier New", Courier, monospace;
    font-variant-ligatures: no-common-ligatures;
    text-rendering: optimizeSpeed;
    font-size: 1em;
    padding: 5px 20px;
    border-radius: 4px 4px 0 0;
}

.highlight {
    border: 1px solid #EAEAEA;
    border-radius: 0 0 4px 4px;
    margin-top: 0;
}

.prev-next {
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 700;
    border-top: 1px solid #CFE3DC;
    border-bottom: 1px solid #CFE3DC;
    padding: 20px 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
.prev-next:after {
    clear: both;
}
.prev-next:before, .prev-next:after {
    content: "";
    display: table;
}
.prev-next a {
    color: #0C3C26;
}
.prev-next a:active, .prev-next a:hover, .prev-next a:focus {
    color: #1d915c;
}
.prev-post {
    float: left;
}
.prev-post i {
    margin-right: 4px;
}
.next-post {
    float: right;
}
.next-post i {
    margin-left: 4px;
}
.disqus {
    height: 300px;
    overflow-y: scroll;
}

span.text-hl-green {
    color: limegreen;
}

.excerpt p a,
.excerpt li a {
    color: #6A0E0E;
    text-decoration: none;
    border-bottom: 1px dotted #798780;
}

.excerpt p a:focus,
.excerpt p a:hover,
.excerpt li a:focus,
.excerpt li a:hover {
    background: #F1FFF7;
    color: #BA2121;
}

/* media query */
@media screen and (max-width: 767px) {
    .article-thumbnail {
        margin-bottom: 20px;
    }
    .main {
        padding: 50px 15px;
    }
    .sidebar {
        padding: 15px;
    }
}






