{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SchoolofWeb :: {% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/png" href="{% static 'common/img/favicon.png' %}">
    <meta name="og:title" content="SchoolofWeb :: {{ meta_title }}"/>
    <meta name="description" content="{{ meta_description }}"/>
    <meta name="og:description" content="{{ meta_description }}"/>
    <meta name="keywords" content="{{ meta_keywords }}"/>
    <meta name="author" content="{{ meta_author }}"/>
    <meta property="article:author" content="http://schoolofweb.net/about/" />
    {% block meta-image %}
    <meta property="og:image" content="http://schoolofweb.net/static/common/img/schoolofweb_logo.png"/>
    {% endblock meta-image %}
    <meta name="og:url" content="{{ meta_url }}"/>
    <meta property="og:type" content="article"/>

    <link rel="stylesheet" href="{% static 'common/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'common/css/navbar.css' %}">
    {% block css %}{% endblock css %}
    {% block js-top %}{% endblock js-top %}
{#    <script>#}
{#        function adjustSidebarHeight() {#}
{#            if (window.matchMedia('(min-width: 992px)').matches) {#}
{#                var docHeight = $(document).height();#}
{#                $('.sidebar').height(docHeight - 100);#}
{#            }#}
{#        }#}
{##}
{#        function disqus_config() {#}
{#            this.callbacks.onNewComment = [function () {#}
{#                adjustSidebarHeight();#}
{#            }];#}
{#            this.callbacks.onReady = [function () {#}
{#                adjustSidebarHeight();#}
{#            }];#}
{#        }#}
{#    </script>#}
</head>
<body class="{{ page }}" id="page-top">

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% include 'common/navbar.html' %}
{% block content %}{% endblock content %}
<footer>
    <p>Copyright © 2013 – {% now 'Y' %} by Sanghee Lee | SchoolofWeb</p>
</footer>
<a href="#page-top" class="page-scroll" id="back-to-top">
<div class="wrap">
    <i class="fa fa-arrow-up fa-3x"></i>
</div>
<script src="{% static 'common/js/jquery-3.1.0.min.js' %}"></script>
<script src="{% static 'common/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'common/js/bootstrap.min.js' %}"></script>
<script src="{% static 'common/js/wow.min.js' %}"></script>
<script src="{% static 'common/js/base.js' %}"></script>
{% block js-bottom %}{% endblock js-bottom %}
</body>
</html>