<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">School of Web</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul id="menu-main-menu" class="nav navbar-nav navbar-right">
                <li class="menu-item"><a href="{% url 'home' %}">Home</a></li>
                <li class="menu-item"><a href="{% url 'blog:post_list' %}">Blog</a></li>
                <li class="menu-item "><a href="{% url 'about' %}">About</a></li>
                <li class="menu-item "><a href="{% url 'stats' %}">Site Stats</a></li>
                {% if user.is_authenticated %}
                <li class="menu-item "><a href="/admin/">Admin</a></li>
                {% endif %}
            </ul>
        </div>
    </div><!-- /.container-fluid -->
</nav>