{% extends 'blog/blog_base.html' %}
{% load staticfiles %}
{% load static %}
{% block title %}
    {% if page_type == 'category' %}
        Category :: {{ object.title }}
    {% elif page_type == 'tag' %}
        Tag :: {{ object.title }}
    {% endif %}
{% endblock title %}
{% block content %}
    <div class="container-fluid category-detail">
        <div class="row">
            <div class="col-md-8 main">
                {% if page_type == 'category' %}
                    <h4 class="page-title">Category :: {{ category.title }}</h4>
                    {% for post in category.category_post.all %}
                        {% if post.published == 'published' and post.published_time < now %}
                            {% include 'blog/post_list_row.html' %}
                        {% endif %}
                    {% endfor %}
                {% elif page_type == 'tag' %}
                    <h4 class="page-title">Tag :: {{ tag.title }}</h4>
                    {% for post in tag.tag_post.all %}
                        {% if post.published == 'published' and post.published_time < now %}
                            {% include 'blog/post_list_row.html' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            {% include 'blog/sidebar.html' %}
        </div>
    </div>
{% endblock content %}