<div class="meta">
    <p class="author text-muted">
        <span class="created-by">Written by</span>
        <span class="user">{{ post.created_by.first_name }} {{ post.created_by.last_name }} | </span>
        <span class="date">{{ post.published_time.date | date:"M d, Y" | upper }}</span>
    </p>

    <p class="post-category">
        <i class="fa fa-folder-open-o"></i>
        {% if post.category.count > 0 %}
            {% for category in post.category.all %}
                {% if not forloop.last %}
                    <a href="{{ category.get_absolute_url }}">{{ category.title }}</a> |
                {% else %}
                    <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                {% endif %}
            {% endfor %}
        {% else %}
            Uncategorized
        {% endif %}
    </p>

    <p class="post-tag">
        <i class="fa fa-tags"></i>
        {% if post.tag.count > 0 %}
            {% for tag in post.tag.all %}
                {% if not forloop.last %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a> |
                {% else %}
                    <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                {% endif %}
            {% endfor %}
        {% else %}
            No tags attached
        {% endif %}
    </p>
</div>
