<div class="row post-row">
    <div class="col-sm-4">
        <img class="img-responsive article-thumbnail" src="{{ post.thumbnail.url }}" alt="">
    </div>
    <div class="col-sm-8">
        <div class="article-tag-block">
            {% if post.tag.count > 0 %}
                {% for tag in post.tag.all %}
                    <a href="{{ tag.get_absolute_url }}"><span class="article-tag">{{ tag }}</span></a>
                {% endfor %}
            {% endif %}
        </div>
        <h2 class="article-title">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        {% include 'blog/meta.html' %}
        <div class="excerpt">
            {{ post.content | safe | truncatechars_html:200 }}
        </div>
        <a class="read-more" href="{{ post.get_absolute_url }}">Read more</a>
    </div>
</div>