{% extends 'blog/blog_base.html' %}
{% load staticfiles %}
{% load hitcount_tags %}
{% block title %}{{ object.title }}{% endblock title %}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'blog/css/post_detail.css' %}">
{% endblock css %}
{% block content %}
    <div class="container-fluid post-detail">
        <div class="row">
            <div class="col-md-8 main">
                <div class="title-block">
                    <h1 class="post-title">{{ object.title }}</h1>
                    {% include 'blog/meta.html' %}
                    <div class="article-tag-block">
                        {% if post.tag.count > 0 %}
                            {% for tag in post.tag.all %}
                                <a href="{{ tag.get_absolute_url }}"><span class="article-tag">{{ tag }}</span></a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="content-block">
                    {{ post.content | safe }}
                </div>
                <!-- Facebook share button -->
                <div class="fb-share-button"
                     data-href="http://schoolofweb.net/blog/posts/%EB%82%98%EC%9D%98-%EC%B2%AB-django-%EC%95%B1-%EB%A7%8C%EB%93%A4%EA%B8%B0-part-1-1/"
                     data-layout="button_count" data-size="small" data-mobile-iframe="true"><a
                        class="fb-xfbml-parse-ignore" target="_blank"
                        href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fschoolofweb.net%2Fblog%2Fposts%2F%25EB%2582%2598%25EC%259D%2598-%25EC%25B2%25AB-django-%25EC%2595%25B1-%25EB%25A7%258C%25EB%2593%25A4%25EA%25B8%25B0-part-1-1%2F&amp;src=sdkpreparse">Share</a>
                </div>
            </div>
            {% include 'blog/sidebar.html' %}
        </div>
    </div>
{% endblock content %}