{% extends 'blog/blog_base.html' %}
{% load staticfiles %}
{% load hitcount_tags %}
{% block title %}{{ object.title }}{% endblock title %}
{% block css %}
{{ block.super }}
    <link rel="stylesheet" href="{% static 'blog/css/post_detail.css' %}">
{% endblock css %}
{% block content %}
    <div class="container-fluid post-detail">
        <div class="row">
            <div class="col-md-8 main">
                <div class="title-block">
                    <h1 class="post-title">{{ object.title }}</h1>
                    {% include 'blog/meta.html' %}
                    <div class="article-tag-block">
                        {% if post.tag.count > 0 %}
                            {% for tag in post.tag.all %}
                                <a href="{{ tag.get_absolute_url }}"><span class="article-tag">{{ tag }}</span></a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="content-block">
                    {{ post.content | safe }}
                </div>
                <p>
                <div class="fb-like" data-href="{{ request.build_absolute_url }}" data-layout="button_count"
                     data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                </p>
                <p>
                <div class="fb-comments" data-href="{{ request.build_absolute_url }}" data-numposts="5"></div>
                </p>
            </div>
            {% include 'blog/sidebar.html' %}
        </div>
    </div>
{% endblock content %}